.app
  width: 100%
  min-height: 100vh
  background-image: url("https://th.bing.com/th/id/OIP.smMhv2WZYgMrq4XGCTqrVgHaE7?pid=ImgDet&rs=1")
  background-size: cover
  background-repeat: no-repeat
  